.advantages-additions {
 .cancel()
}

.advantages-additions__title {
  .cancel();
  font-size: @title-font-size;
  line-height: 26px;
}

.advantages-additions__description {
  .cancel();
}

@media (min-width: @tablet-width) {
  .advantages-additions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}