.advantages-item {
  padding-top: 23px;
  padding-bottom: 22px;
}

.advantages-item__title,
.advantages-item__number {
  .cancel();
}

.advantages-item__description {
  .cancel();
  margin-bottom: 42px;
}

.advantages-item__wrapper--real-city,
.advantages-item__wrapper--diavols-bridge {
  height: 189px;
  padding-bottom: 0;
  color: #ffffff;
  background-color: @blue-background;
}

.advantages-item__wrapper--real-city {
  padding-top: 61px;
}

.advantages-item__wrapper--diavols-bridge {
  padding-top: 45px;
}

@media (min-width: @tablet-width) {
  .advantages-item {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
  }

  .advantages-item__wrapper--diavols-bridge img {
    order: 1;
  }
  
  .advantages-item__wrapper--diavols-bridge {
    order: 2;
  }
  
  .advantages-item--small-square,
  .advantages-item--beautiful-road,
  .advantages-item--little-tourists {
    display: block;
  }
}
