.advantages {
  margin-bottom: 0;
  text-align: center;
  color: #333333;
}

.advantages__slogan,
.advantages__title {
  font-size: @title-font-size;
  line-height: 26px;
}

.advantages__intro {
  margin-bottom: 19px;
}

.advantages__row {
  background-color: @grey-background;
  list-style: none;
  padding-left: 0;
}

@media (min-width: @tablet-width) {
  .advantages__slogan {
    width: 490px;
    margin: 0;
  }
  
  .advantages__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: @grey-background;
  }
  
  .advantages__wrapper {
    height: 260px;
    background-color: @blue-background;
  }
}