.advantages-additions {
  text-align: left;
}

.advantages-additions__title {
  font-size: @title-font-size;
  font-weight: bold;
  line-height: 26px;
}

.advantages-additions__description {
  font-size: @usual-font-size;
  line-height: 21px;
}