.comment,
.comment__title {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.comment {
  width: 320px;
  text-align: center;
  padding-top: 40px;
}

.comment__title {
  margin-bottom: 27px;
}

.comment__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
}

.comment__form {
  padding-top: 20px;
}

.comment fieldset {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0 none;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
  margin-bottom: 18px;
}

.comment legend {
  padding-left: 0;
  margin: 0 auto;
  margin-bottom: 20px;
}

.comment__item ul,
.comment__item li {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 10px;
}

.comment__label {
  font-size: 14px;
  font-weight: normal;
  color: #333333;
}

.comment__label input,
.comment__textarea {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.comment__label label {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 10px;
}

.comment__label input {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 58px;
  padding-left: 20px;
}

.comment__label--radio,
.comment__label--checkbox {
  font-weight: bold;
  color: #000000;
  text-transform: none;
}

.comment__item--name li {
  margin-bottom: 20px;
}

.comment__label--name input {
  width: 208px;
}

.comment__label--surname input {
  width: 170px;
}

.comment__label--patronymic input {
  width: 176px;
}

.comment__item--contacts li {
  margin-bottom: 15px;
}

.comment__item--contacts label {
  padding-left: 20px;
  position: relative;
}

.comment__item--contacts input {
  width: 222px;
  padding-left: 20px;
}

.comment__label--phone input {
  margin-top: 5px;
}

.comment__label--phone label::before {
  content: "";
  position: absolute;
  top: 27px;
  left: 222px;
  z-index: 20;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
}

.comment__label--phone label::after {
  content: "";
  position: absolute;
  top: 47px;
  left: 242px;
  z-index: 20;
  width: 18px;
  height: 18px;
  background-image: url("../img/icon-phone.svg");
}

.comment__label--email label::before {
  content: "";
  position: absolute;
  top: 29px;
  left: 222px;
  z-index: 20;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
}

.comment__label--email label::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 242px;
  z-index: 20;
  width: 18px;
  height: 18px;
  background-image: url("../img/icon-mail.svg");
}

.comment__label--email input {
  margin-top: 7px;
  margin-bottom: 6px;
}

.comment__item--impression li:last-of-type {
  margin-bottom: 36px;
}

.comment__item--impression legend {
  margin-bottom: 40px;
}

.comment__item--impression li,
.comment__item--sightseeing li {
  width: 200px;
  margin-left: 80px;
  margin-bottom: 40px;
  position: relative;
}

.comment__item--impression label,
.comment__item--sightseeing label {
  font-size: 18px;
}

.comment__radio + label::before {
  content: "";
  position: absolute;
  top: -16px;
  left: -70px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.comment__radio:checked + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -52px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #333333;
}

.comment .comment__item--sightseeing {
  text-align: center;
}

.comment__item--sightseeing legend {
  margin-bottom: 30px;
}

.comment__item--sightseeing li {
  text-align: left;
  margin-bottom: 54px;
  margin-left: 80px;
}

.comment__item--sightseeing li:last-of-type {
  margin-bottom: 32px;
}

.comment__check-box + label::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -70px;
  width: 55px;
  height: 55px;
  background-color: #f2f2f2;
}

.comment__check-box:checked + label::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -70px;
  width: 55px;
  height: 55px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.comment__item--emotion {
  padding: 0 20px;
}

.comment__textarea {
  width: 240px;
  min-height: 136px;
  margin: 0 20px;
  padding: 12px 20px;
  line-height: 26px;
}

.comment .comment__button {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  text-align: center;
  margin-top: 18px;
  padding: 20px 47px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.comment__button:hover,
.comment__button:focus {
  background-color: #669ec0;
}

.comment__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.comment__mark {
  display: none;
}

@media (min-width: 768px) {
  .comment {
    width: 648px;
    margin: 0 auto;
    padding-top: 20px;
  }

  .comment__title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .comment__description {
    margin: 5px 105px;
    border-bottom: none;
  }

  .comment__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    padding-left: 0;
  }

  .comment__legend {
    font-size: 21px;
  }

  .comment fieldset {
    border: none;
  }

  .comment .comment__item--impression {
    width: 322px;
    order: 1;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 32px;
  }

  .comment__radio + label::before {
    content: "";
    position: absolute;
    top: -12px;
    left: -63px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #f2f2f2;
  }

  .comment__radio:checked + label::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -45px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #333333;
  }

  .comment__item {
    padding-bottom: 0;
  }

  .comment__item--impression legend {
    margin-left: 0;
    padding-left: 0;
  }

  .comment__item--name legend {
    margin-left: 55px;
    padding-left: 0;
  }

  .comment__item--impression li {
    margin-left: 50px;
    margin-bottom: 52px;
  }

  .comment__item--name {
    padding-left: 60px;
    width: 325px;
    order: 2;
  }

  .comment__item--name label {
    margin-left: 40px;
    padding-right: 5px;
    padding-top: 17px;
    text-align: left;
    flex-grow: 1;
    align-items: center;
  }

  .comment__item--name li {
    margin-right: 0;
    padding-right: 0;
    text-align: left;
  }

  .comment__item--name input {
    width: 150px;
    order: 2;
    flex-grow: 2;
  }

  .comment__label--name input {
    width: 172px;
    order: 2;
    flex-grow: 2;
  }

  .comment__item--name legend {
    margin-bottom: 58px;
  }

  .comment__item--contacts {
    width: 640px;
    order: 3;
  }

  .comment__button {
    order: 7;
    width: 300px;
  }

  .comment__item--emotion {
    width: 648px;
    order: 6;
  }

  .comment__item--emotion textarea {
    width: 570px;
  }

  .comment__item--sightseeing {
    width: 648px;
    order: 5;
  }

  .comment__item--sightseeing ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .comment__label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .comment__mark {
    width: 200px;
    font-size: 14px;
    font-weight: normal;
    order: 8;
    display: inline;
  }
}

@media (min-width: 1200px) {
  .comment {
    width: 964px;
    margin: 0 auto;
    padding-top: 10px;
  }

  .comment__title {
    margin-bottom: 30px;
  }

  .comment__description {
    margin: 2px 260px;
  }

  .comment__form {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .comment__form legend {
    font-size: 22px;
  }

  .comment .comment__item--impression {
    width: 400px;
  }

  .comment__item--impression li {
    margin-left: -20px;
    margin-bottom: 50px;
  }

  .comment__item--impression legend {
    margin-left: 0;
    margin-bottom: 75px;
  }

  .comment__item--name {
    width: 400px;
  }

  .comment__item--name legend {
    margin-left: 80px;
    margin-bottom: 56px;
  }

  .comment__item--name ul {
    margin-left: 60px;
  }

  .comment__item--contacts legend {
    padding-top: 25px;
    margin-bottom: 65px;
  }

  .comment__item--contacts ul {
    width: 964px;
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .comment__item--contacts li {
    width: 482px;
    padding-left: 0;
    margin-right: 0;
  }

  .comment__item--contacts label {
    padding: 0 14px 0 0;
  }

  .comment__phone {
    display: none;
  }

  .comment__item--contacts input {
    width: 297px;
  }

  .comment__form .comment__item--sightseeing {
    width: 964px;
    margin-top: 8px;
  }

  .comment__item--sightseeing ul {
    padding-left: 0;
  }

  .comment__item--sightseeing li {
    width: 110px;
    margin-left: 70px;
    padding: 0;
  }

  .comment__item--sightseeing li::last-of-type {
    width: 124px;
  }

  .comment__item--sightseeing label {
    padding: 0;
    margin-left: 10px;
  }

  .comment__label--checkbox:last-of-type label {
    padding: 0;
    margin-left: 0;
    padding-right: 0;
  }

  .comment__item--sightseeing legend {
    margin: 0 300px 57px 300px;
  }

  .comment__item--emotion {
    width: 964px;
  }

  .comment__item--emotion textarea {
    width: 870px;
  }
}
