.comment,
.comment__title {
  .cancel();
  font-size: @title-font-size;
  font-weight: bold;
  line-height: 26px;
}

.comment {
  width: 320px;
  padding-top: 40px;
  text-align: center;
}

.comment__title {
  margin-bottom: 27px;
}

.comment__description {
  margin-bottom: 0;
  padding-bottom: 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.comment__form {
  padding-top: 20px;
}

.comment__form fieldset {
  .cancel();
  margin-bottom: 18px;
  padding-bottom: 5px;
  text-align: left;
  border: 0 none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.comment__item legend {
  margin: 0 auto;
  margin-bottom: 20px;
  padding-left: 0;
}

.comment__item ul,
.comment__item li {
  .cancel();
  padding-left: 10px;
}

.comment__label {
  font-size: 14px;
  font-weight: normal;
  color: @black-color-text;
}

.comment__label label {
  .cancel();
  padding-right: 10px;
}

.comment__label input,
.comment__textarea {
  padding: 5px;
  font-size: @title-font-size;
  font-weight: bold;
  color: @black-color-title;
  background-color: @grey-color;
  border: 4px solid @grey-color;

  &:hover {
    background-color: @grey-color-hover;
    border: 4px solid @grey-color-hover;
    outline: none;
  }

  &:active,
  &:focus {
    height: 50px;
    background-color: @white-color;
    border: 4px solid @grey-color-hover;
    outline: none;
  }
}

.comment__label input {
  .cancel();
  height: 50px;
  padding-left: 20px;
  list-style: none;
}

.comment__label--radio,
.comment__label--checkbox {
  font-weight: bold;
  color: @black-color-title;
  text-transform: none;
}

.comment__item--name li {
  margin-bottom: 20px;
}

.comment__label--name input {
  width: 208px;
}

.comment__label--surname input {
  width: 170px;
}

.comment__label--patronymic input {
  width: 176px;
}

.comment__item--contacts li {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.comment__item--contacts label {
  position: relative;
  padding-left: 20px;
}

.comment__item--contacts input {
  width: 222px;
  padding-left: 20px;
}

.comment__label--phone input {
  margin-top: 5px;
}

.comment__label--email input {
  margin-top: 7px;
  margin-bottom: 6px;
}

.comment__label--phone label::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 222px;
  z-index: 20;
  width: 58px;
  height: 58px;
  background-color: @grey-color-bg-icon;
}

.comment__label--phone label::after {
  content: "";
  position: absolute;
  top: 47px;
  left: 242px;
  z-index: 20;
  width: 18px;
  height: 18px;
  background-image: url("../img/icon-phone.svg");
}

.comment__label--email label::before {
  content: "";
  position: absolute;
  top: 33px;
  left: 221px;
  z-index: 20;
  width: 58px;
  height: 58px;
  background-color: @grey-color-bg-icon;
}

.comment__label--email label::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 242px;
  z-index: 20;
  width: 18px;
  height: 18px;
  background-image: url("../img/icon-mail.svg");
}

.comment__item--impression legend {
  margin-bottom: 40px;
}

.comment__item--sightseeing legend {
  margin-bottom: 30px;
  text-align: center;
}

.comment__item--impression li,
.comment__item--sightseeing li {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  margin-left: 80px;
}

.comment__item--impression li:last-child {
  margin-bottom: 36px;
}

.comment__item--sightseeing li {
  margin-bottom: 54px;
  margin-left: 80px;
  text-align: left;
}

.comment__item--sightseeing li:last-of-type {
  margin-bottom: 32px;
}

.comment__item--impression label,
.comment__item--sightseeing label {
  font-size: @title-font-size;
}

.comment__radio + label::before {
  content: "";
  position: absolute;
  top: -16px;
  left: -70px;
  width: 55px;
  height: 55px;
  background-color: @grey-color;
  border-radius: 50%;

  &:hover {
    background-color: @grey-color-hover;
  }

  &:active,
  &:focus {
    background-color: @checkbox-active;
  }
}

.comment__radio:checked + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -52px;
  width: 20px;
  height: 20px;
  background-color: @black-color-text;
  border-radius: 50%;

  &:active,
  &:focus {
    background-color: @black-color-text;
    opacity: 0.3;
  }
}

.comment__check-box + label::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -70px;
  width: 55px;
  height: 55px;
  background-color: @grey-color;

  &:hover {
    background-color: @grey-color-hover;
  }

  &:active,
  &:focus {
    background-color: @checkbox-active;
  }
}

.comment__check-box:checked + label::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -70px;
  width: 55px;
  height: 55px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &:hover {
    background-color: @grey-color-hover;
  }

  &:active,
  &:focus {
    background-color: @checkbox-active;
  }
}

.comment__item--emotion {
  padding: 0 20px;
}

.comment__textarea {
  width: 240px;
  min-height: 136px;
  margin: 0 20px;
  padding: 12px 20px;
  line-height: 26px;
}

.comment__button {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 18px;
  padding: 18px 47px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @white-color;
  background-color: @blue-color;
}

.comment__mark {
  display: none;
}

@media (min-width: @tablet-width) {
  .comment {
    width: 648px;
    margin: 0 auto;
    padding-top: 20px;
  }

  .comment__title {
    margin-bottom: 30px;
    font-size: 30px;
  }

  .comment__description {
    margin: 5px 100px;
    border-bottom: none;
  }

  .comment__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    padding-left: 0;
  }

  .comment__form fieldset {
    margin-bottom: 70px;
    padding-bottom: 0;
    border: none;
  }

  .comment__item {
    padding-bottom: 0;
  }

  .comment__legend {
    position: relative;
    font-size: @title-font-size-tablet;
  }

  .comment__item ul,
  .comment__item li {
    padding-left: 0;
  }

  .comment__label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .comment__label:last-child {
    padding-bottom: 0;
  }

  .comment .comment__item--impression {
    width: 322px;
    padding-top: 32px;
    text-align: left;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    order: 1;
  }

  .comment__item--impression legend {
    margin-left: 0;
    padding-left: 0;
  }

  .comment__item--impression li {
    position: relative;
    margin-bottom: 52px;
    margin-left: 63px;
  }

  .comment__item--impression li:last-child {
    margin-bottom: 0;
  }

  .comment__label--radio input {
    .cancel();
  }

  .comment__label--radio label {
    margin-left: 0;
    padding-left: 6px;
  }

  .comment__radio + label::before {
    content: "";
    position: absolute;
    top: -12px;
    left: -63px;
    width: 55px;
    height: 55px;
    background-color: @grey-color;
    border-radius: 50%;
  }

  .comment__radio:checked + label::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -45px;
    width: 20px;
    height: 20px;
    background-color: @black-color-text;
    border-radius: 50%;
  }

  .comment__item--name {
    display: flex;
    flex-direction: column;
    width: 325px;
    padding-left: 70px;
    order: 2;
  }

  .comment__item--name legend {
    margin-bottom: 58px;
    margin-left: 55px;
    padding-left: 0;
  }

  .comment__item--name li {
    margin-right: 0;
    padding-right: 0;
    text-align: left;
  }

  .comment__item--name li:last-child {
    margin-bottom: 0;
  }

  .comment__item--name label {
    flex-grow: 1;
    margin-left: 60px;
    padding-right: 5px;
    padding-top: 17px;
    text-align: left;
    align-items: center;
  }

  .comment__item--name input {
    flex-grow: 2;
    width: 150px;
    margin-bottom: 0;
    order: 2;
  }

  .comment .comment__item--contacts {
    position: static;
    left: 0;
    width: 640px;
    padding-bottom: 0;
    text-align: left;
    order: 3;
  }

  .comment__item--contacts .comment__legend::before {
    content: "";
    position: absolute;
    top: 11px;
    right: 330px;
    width: 140px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .comment__item--contacts .comment__legend::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 330px;
    width: 140px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .comment__item--contacts .comment__label {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 4px;
  }

  .comment__item--contacts input {
    width: 566px;
  }

  .comment__label--phone input {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .comment__label--phone label::before {
    content: "";
    position: absolute;
    top: 31px;
    left: 586px;
    z-index: 20;
    width: 58px;
    height: 58px;
    background-color: @grey-color-bg-icon;
  }

  .comment__label--phone label::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 605px;
    z-index: 20;
    width: 18px;
    height: 18px;
    background-image: url("../img/icon-phone.svg");
  }

  .comment__label--email input {
    margin-top: 7px;
    margin-bottom: -30px;
  }

  .comment__label--email label::before {
    content: "";
    position: absolute;
    top: 33px;
    left: 586px;
    z-index: 20;
    width: 58px;
    height: 58px;
    background-color: @grey-color-bg-icon;
  }

  .comment__label--email label::after {
    content: "";
    position: absolute;
    top: 52px;
    left: 606px;
    z-index: 20;
    width: 18px;
    height: 18px;
    background-image: url("../img/icon-mail.svg");
  }

  .comment__item.comment__item--sightseeing {
    margin-bottom: 18px;
  }

  .comment__item--sightseeing {
    width: 648px;
    order: 5;
  }

  .comment__item--sightseeing legend {
    margin: 0 150px 52px 150px;
  }

  .comment__item--sightseeing .comment__legend::before {
    content: "";
    position: absolute;
    top: 22px;
    right: 376px;
    width: 122px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .comment__item--sightseeing .comment__legend::after {
    content: "";
    position: absolute;
    top: 22px;
    left: 376px;
    width: 122px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .comment__item--sightseeing ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 65px;
  }

  .comment__item--sightseeing li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 180px;
    margin-bottom: 65px;
  }

  .comment__check-box + label::before {
    left: -80px;
  }

  .comment__check-box:checked + label::before {
    left: -80px;
  }

  .comment__item--emotion {
    width: 648px;
    margin-top: 0;
    order: 6;
  }

  .comment__item--emotion .comment__legend::before {
    content: "";
    position: absolute;
    top: 11px;
    right: 310px;
    width: 140px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .comment__item--emotion .comment__legend::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 310px;
    width: 140px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .comment__item--emotion textarea {
    width: 610px;
    min-height: 136px;
    margin: 39px auto 0 auto;
    padding: 12px 20px;
  }

  .comment__button {
    width: 322px;
    margin-top: -22px;
    margin-left: 0;
    order: 7;
  }

  .comment__mark {
    .cancel();
    display: inline-block;
    width: 320px;
    margin-top: -4px;
    margin-left: auto;
    text-align: right;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    order: 8;
  }
}

@media (min-width: @desktop-width) {
  .comment {
    width: 964px;
    margin: 0 auto;
    padding-top: 10px;
  }

  .comment__title {
    margin-bottom: 30px;
  }

  .comment__description {
    margin: 2px 258px;
  }

  .comment__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24px;
  }

  .comment__item legend {
    font-size: 22px;
  }

  .comment .comment__item--impression {
    width: 477px;
  }

  .comment__item--impression legend {
    margin-bottom: 42px;
    margin-left: 72px;
  }

  .comment__item--impression li {
    margin-bottom: 52px;
    margin-left: 70px;
  }

  .comment__item--name {
    width: 477px;
    margin-bottom: 65px;
    padding-left: 90px;
  }

  .comment__item--name legend {
    margin-bottom: 58px;
    margin-left: 80px;
    padding-left: 0;
  }

  .comment__item--name li {
    margin-right: 0;
    padding-right: 0;
    text-align: left;
  }

  .comment__item--name li:last-child {
    margin-bottom: 0;
  }

  .comment__item--name label {
    margin-left: 60px;
    padding-top: 17px;
    padding-right: 5px;
    padding-left: 20px;
    text-align: left;
    align-items: center;
  }

  .comment__label--name input {
    width: 300px;
    margin-bottom: 0;
  }

  .comment__label--surname input,
  .comment__label--patronymic input {
    width: 270px;
    margin-bottom: 0;
  }

  .comment__item.comment__item--name {
    margin-bottom: 0;
  }

  .comment__item.comment__item--contacts {
    margin-top: 13px;
    margin-bottom: 0;
  }

  .comment__item--contacts legend {
    margin-bottom: 65px;
  }

  .comment__item--contacts .comment__legend::before {
    content: "";
    position: absolute;
    top: 11px;
    right: 348px;
    width: 282px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .comment__item--contacts .comment__legend::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 348px;
    width: 282px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .comment .comment__item--contacts {
    width: 964px;
  }

  .comment__item--contacts ul {
    .cancel();
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }

  .comment__item--contacts li {
    .cancel();
    width: 482px;
  }

  .comment__item--contacts .comment__label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 4px;
  }

  .comment__item--contacts label {
    margin-top: 22px;
    margin-right: 20px;
    padding: 0;
  }

  .comment__label--phone label::before {
    content: "";
    position: absolute;
    top: -17px;
    left: 342px;
    z-index: 20;
    width: 58px;
    height: 58px;
    background-color: @grey-color-bg-icon;
  }

  .comment__label--phone label::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 366px;
    z-index: 20;
    width: 18px;
    height: 18px;
    background-image: url("../img/icon-phone.svg");
  }

  .comment__label--email label::before {
    content: "";
    position: absolute;
    top: -14px;
    left: 420px;
    z-index: 20;
    width: 58px;
    height: 58px;
    background-color: @grey-color-bg-icon;
  }

  .comment__label--email label::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 442px;
    z-index: 20;
    width: 18px;
    height: 18px;
    background-image: url("../img/icon-mail.svg");
  }

  .comment__phone {
    display: none;
  }

  .comment__item--contacts input {
    width: 235px;
  }

  .comment__form .comment__item--sightseeing {
    width: 964px;
    margin: 28px auto 0 auto;
  }

  .comment__item--sightseeing legend {
    margin: 0 320px 57px 320px;
  }

  .comment__item--sightseeing .comment__legend::before {
    content: "";
    position: absolute;
    top: 23px;
    right: 360px;
    width: 290px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .comment__item--sightseeing .comment__legend::after {
    content: "";
    position: absolute;
    top: 23px;
    left: 360px;
    width: 290px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .comment__item--sightseeing ul {
    width: 960px;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 0;
  }

  .comment__item--sightseeing li {
    width: 120px;
    padding: 0;
  }

  .comment__label--checkbox:last-of-type {
    width: 128px;
    margin-left: 52px;
  }

  .comment__label--checkbox label {
    margin-left: 3px;
    padding: 0;
  }

  .comment__label--checkbox:last-of-type label {
    padding: 0;
    margin-left: 0;
    padding-right: 0;
  }

  .comment__item--emotion {
    width: 964px;
  }

  .comment__item--emotion .comment__legend::before {
    content: "";
    position: absolute;
    top: 11px;
    right: 348px;
    width: 282px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .comment__item--emotion .comment__legend::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 348px;
    width: 282px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .comment__item--emotion textarea {
    width: 920px;
    margin: 33px auto 2px auto;
  }

  .comment__button {
    width: 480px;
  }

  .comment__mark {
    width: 480px;
    margin-left: auto;
  }
}
