.find-accommodation {
  text-align: center;
  border: 1px solid #000000;
  padding-bottom: 49px;
}

.find-accommodation__question {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.find-accommodation__description {
  line-height: 24px;
}

.find-accommodation__button {
  background-color: @blue-backrgound;
}