.find-accommodation {
  padding-bottom: 49px;
  text-align: center;
}

.find-accommodation__question {
  .cancel();
  font-size: 21px;
  line-height: 26px;
}

.find-accommodation__description {
  .cancel();
  line-height: 24px;
  color: #333333;
}

.find-accommodation__button {
  .cancel();
  font-size: 21px;
  line-height: 26px;
  background-color: @blue-background;
}

@media (min-width: 768px) {
  .find-accommodation__question {
    font-size: 30px;
  }

  .find-accommodation__description {
    width: 434px;
  }

  .find-accommodation__button {
    width: 460px;
  }
}
