.page-header {
  margin-bottom: 56px;
  padding-left: 0;
}

/*.main-nav__list {
  margin-left: 0;
}*/

.main-nav__close-button {
  display: none;
}

.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
}