.modal-comment {
  text-align: center;
}

.modal-comment__title {
  font-size: @title-font-size;
  font-weight: bold;
  line-height: 26px;
}

.modal-comment__description {
  line-height: 24px;
  color: #333333;
}
