.page-footer {
  margin-bottom: 35px;
  line-height: 26px;
  text-align: center;
  color: @black-color-title;
}

.page-footer__hashtag {
  .cancel();
  .container();
  margin-bottom: 35px;
  font-size: 21px;
}

.page-footer__social-list {
  margin-bottom: 45px;
}

.page-footer__made-by {
  .cancel();
  .container();
  position: relative;
  padding-right: 40px;
}

.page-footer__image {
  .cancel();
  position: absolute;
  top: -10px;
  right: -4px;
}

.page-footer__made-by svg {
  &:hover,
  &:focus {
    color: @blue-color;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.page-footer__made-by use:active {
  color: rgba(0, 0, 0, 0.3);
}

@media (min-width: @tablet-width) {
  .page-footer {
    .cancel();
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 48px;
    margin-bottom: 35px;
  }

  .page-footer__hashtag {
    .cancel();
    margin-right: 40px;
    margin-left: -10px;
  }

  .page-footer ul {
    .cancel();
    margin-top: 0;
    margin-right: 20px;
  }

  .page-footer__social-list {
    .cancel();
  }

  .page-footer__made-by {
    .cancel();
    margin-top: 10px;
    text-align: center;
  }

  .page-footer__made-by svg {
    .cancel();
    position: absolute;
    top: -8px;
    right: 50px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    margin: 0 auto 35px auto;
  }

  .page-footer__hashtag {
    margin: 0 200px 0 45px;
  }

  .page-footer__made-by {
    .cancel();
    margin-left: 160px;
  }
}