.page-slogan {
  text-align: center;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.page-slogan--main-page {
  width: 320px;
  height: 299px;
  padding-top: 90px;
  background-position: 50% center;
  background-size: cover;
  margin-bottom: 43px;
}

.page-slogan--inner-page {
  width: 320px;
  height: 106px;
  padding-top: 52px;
  background-position: 50% 100%;
  margin-bottom: 41px;
}
