.page-footer {
  line-height: 26px;
  text-align: center;
  margin-bottom: 100px;
  color: @black-color-title;
}

.page-footer__hashtag {
  .cancel();
  .container();
  margin-top: 28px;
  margin-bottom: 35px;
  font-size: 21px;
}

.page-footer__social-list {
  margin-bottom: 45px;
}

.page-footer__made-by {
  .cancel();
  .container();
  position: relative;
  padding-right: 40px;
  margin-bottom: 100px;
}

.page-footer__made-by svg {
  .cancel();
  position: absolute;
  top: -10px;
  right: -4px;

  &:hover,
  &:focus {
    fill: @blue-color;
  }

  &:active {
    fill: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    .cancel();
    display: flex;
    flex-direction: row;
  /*  justify-content: space-between;*/
    align-items: center;
    min-height: 120px;
    margin-top: -13px;
    margin-bottom: 40px;
  }

  .page-footer__hashtag {
    .cancel();
    margin-left: -10px;
    margin-right: 40px;
  }

  .page-footer ul {
    .cancel();
    margin-right: 20px;
  }

  .page-footer__social-list {
    .cancel();
  }

  .page-footer__made-by {
    .cancel();
    text-align: center;
    position: relative;
  }

  .page-footer__made-by svg {
    .cancel();
    position: absolute;
    top: -8px;
    right: 50px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    margin: -14px auto 40px auto;
  }

  .page-footer__hashtag {
   margin: 0 200px 0 45px;
  }

  .page-footer__made-by {
    .cancel();
    text-align: center;
     margin-left: 160px;
  }

  .page-footer__made-by svg {
    .cancel();
    right: 50px;
  }
}
