.photo-item {
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.photo-item:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.photo-item__wrapper {
  .container();
  position: relative;
}

.photo-item__image {
  width: 280px;
  margin: 0 auto;
  vertical-align: bottom;
}

.photo-item__info {
  padding-top: 10px;
}

.photo-item__name {
  .cancel();
  font-weight: bold;
  font-size: 14px;
  color: @black-color-title;
}

.photo-item__author {
  .cancel();
  width: 145px;
  text-transform: none;
}

.photo-item__like {
  padding-left: 35px;
  font-weight: bold;
}

.photo-item__like-button {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 2;
  display: block;
  width: 23px;
  height: 21px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.photo-item__like-button::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 23px;
  height: 21px;
  background-image: url("../img/icon-like.svg");
  opacity: 0.3;
}

.photo-item__like-number {
  .cancel();
  padding-top: 8px;
}

@media (min-width: 768px) {
  .photo-item__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
