.photos__title {
  font-size: @title-font-size;
  text-align: center;
}

.photos__description {
  line-height: 26px;
  text-align: center;
}

.photos__description,
.photos__like-number,
.photos__name,
.photos__author {
  font-size: @usual-font-size;
  line-height: 24px;
}

.photos__name {
  font-weight: bold;
  line-height: 24px;
  color: #000000;
}

.photos__author {
  text-transform: none;
}
