.social-list {
  list-style: none;
  margin-left: 0;

}

.social-list__item a {
  background-color: @blue-background;
  &:hover,
  &:focus {
    background-color: @blue-background-hover;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: @blue-background-active;
  }
}
