.video__title {
  .cancel();
  font-size: @title-font-size;
  line-height: 26px;
  text-align: center;
}

.video__description {
  .cancel();
  line-height: 24px;
  text-align: center;
}

.video-buttons {
  color: #333333;
  background-color: @grey-background;
}

@media (min-width: 768px) {  
  .video__description {
    width: 428px;
    text-align: center;
  }
}