.video {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.video__title {
  .cancel();
  padding-bottom: 30px;
  font-size: @title-font-size;
  line-height: 26px;
  text-align: center;
}

.video__description {
  .cancel();
  .container();
  width: 250px;
  padding-bottom: 33px;
  line-height: 24px;
  text-align: center;
}

.video__image {
  vertical-align: bottom;
}

.video__wrapper {
  display: flex;
  flex-direction: column;
}

.video__controls {
  position: relative;
  z-index: 10;
  width: 280px;
  height: 45px;
  margin-top: -45px;
  margin-left: 20px;
  padding-top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
}

.video__scale {
  margin-top: 20px;
  margin-left: 21px;
  display: block;
  width: 235px;
  height: 3px;
  background-color: #ffffff;
  opacity: 0.2;
}

.video__toggle {
  margin-top: -5px;
  margin-left: 57px;
  display: block;
  width: 11px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
}

.video__buttons {
  .container();
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
  height: 66px;
  padding-top: 0;
  background-color: @grey-color;
}

.video__button {
  position: relative;
  display: block;
  margin-top: 13px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.video__button svg {
  position: absolute;
  z-index: 20;
  color: @video-mobile-color;
}

.video__button:hover svg,
.video__button:focus svg {
  color: @black-color-text;
}

.video__button:active svg {
  color: rgba(51, 51, 51, 0.3);
}

.video__button--replay {
  margin-left: 20px;
  width: 16px;
  height: 20px;
}

.video__button--subtitles {
  margin-left: auto;
  width: 32px;
  height: 20px;
}

.video__button--fullscreen {
  margin-right: 20px;
  margin-left: 20px;
  width: 20px;
  height: 20px;
}

@media (min-width: @tablet-width) {
  .video {
    width: 648px;
    margin: 0 auto;
  }

  .video__title {
    margin-top: 30px;
    padding-top: 35px;
    font-size: 30px;
  }

  .video__description {
    width: 428px;
    margin-bottom: 40px;
  }

  .video__image {
    width: 648px;
    height: 499px;
  }

  .video__controls {
    position: relative;
    z-index: 10;
    margin-top: -92px;
    margin-left: 0;
    width: 648px;
    height: 93px;
    background-color: rgba(0, 0, 0, 0.6);
    order: 2;
  }

  .video__scale {
    margin-top: 50px;
    margin-left: 93px;
    width: 389px;
  }

  .video__toggle {
    margin-top: -5px;
    margin-left: 205px;
  }

  .video__buttons {
    position: relative;
    z-index: 10;
    width: 648px;
    height: 93px;
    margin-top: -85px;
    background-color: transparent;
    order: 1;
  }

  .video__button {
    padding-top: 20px;
  }

  .video__button svg {
    color: @white-color;
  }

  .video__button:hover svg,
  .video__button:focus svg {
    color: @white-color;
    opacity: 0.6;
  }

  .video__button:active svg {
    opacity: 0.3;
  }

  .video__button--replay {
    margin-left: 40px;
  }

  .video__fullscreen {
    margin-right: 30px;
    margin-left: 30px;
  }
}

@media (min-width: @desktop-width) {
  .video {
    width: 800px;
    margin: 0 auto;
  }

  .video__controls {
    width: 800px;
    height: 93px;
  }

  .video__title {
    margin-bottom: 2px;
    padding-top: 38px;
  }

  .video__description {
    width: 415px;
    margin-bottom: 38px;
  }

  .video__image {
    width: 800px;
    height: 500px;
  }

  .video__buttons {
    width: 800px;
    height: 93px;
  }

  .video__scale {
    width: 540px;
  }
}
